<%- include("../partials/header") %>
    <div class="">
        <h1>Welcome to Geode Gacha</h1>
        <p>The digital rock collecting web-app.</p>

        <h3>NEW USERS</h3>
        <form action="/signup" method="post">
            <input type="text" name="username">
            <input type="password" name="password">
            <button type="submit">Sign Up</button>
        </form>
        <br>
        <br>
        <h3>SIGN IN</h3>
        <form action="/login" method="post">
            <input type="text" name="username">
            <input type="password" name="password">
            <button type="submit">Sign In</button>
        </form>
    </div>
</body>
</html>